*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", serif;
    background-color: #f4f4f4;
    background-image: url(../img/libros-background-img.jpg);
    background-position: center;
    background-size: cover;
}

header{
    color: white;
    background-color: #190a12;
    font-family: "Montserrat", serif;
    padding: 21px 18px;
}

.header-registrarse{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-registrarse a{
    text-decoration: none;
    color: white;
}

.header-registrarse a:hover{
    color: #f1d3ab;
}

h1{
    font-size: 1.5rem;
    font-weight: bold; 
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.img-form img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

form{
    width: 50%;
    padding: 40px;
}

form h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.form-group{
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-wrapper{
    position: relative;
    margin-bottom: 15px;
}

.form-wrapper input,
.form-wrapper select{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn-registrarse{
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-register:hover{
    background-color: #555;
}

.iniciar-sesion{
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

.iniciar-sesion:hover {
    text-decoration: underline;
}

#i-home{
    font-size: 18px;
    margin-left: 10px;
}

/* FOOTER */

#footer{
    color: white;
    background-color: black;
    margin: 0 auto;
    font-family: "Montserrat", serif;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}

.footer-container p{
    margin: 40px 10px;
    cursor: pointer;
}

.footer-container p:hover{
    color: #f1d3ab;
}

.footer-container i{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    font-size: 25px;
    margin-top: 10px;
}